@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.loading-container{
  display: grid;
  grid-template-columns: 40% auto;
  width: 25%;
  padding-top: 2%;
  .loading-name{
    font-family:  'Inter', sans-serif;
    font-size: 14pt;
    color: #828282;
    margin-top: -5px;
  }

  .loading{
    justify-self: end;
    padding-right: 20px;
  }
  
  .loading.bar div{
    width: 3px;
    height: 7px;
    border-radius: 15px;
    background: gray;
    position: absolute;
    opacity:0.2;
    -webkit-animation: fadeit 1.1s linear infinite;
    -moz-animation: fadeit 1.1s linear infinite;
    animation: fadeit 1.5s linear infinite;
  }
  
  .loading.bar div:nth-child(1){
    -webkit-transform: rotate(0deg) translate(0, -10px);
    -moz-transform: rotate(0deg) translate(0, -10px);
    transform: rotate(0deg) translate(0, -10px); 
  
    -webkit-animation-delay:0.39s;
    -moz-animation-delay:0.39s;
    animation-delay:0.39s;
  } 
  
  .loading.bar div:nth-child(2){
    -webkit-transform: rotate(30deg) translate(0, -10px);
    -moz-transform: rotate(30deg) translate(0, -10px);
    transform: rotate(30deg) translate(0, -10px); 
  
    -webkit-animation-delay:0.52s;
    -moz-animation-delay:0.52s;
    animation-delay:0.52s;
  } 
  
  .loading.bar div:nth-child(3){
    -webkit-transform: rotate(60deg) translate(0, -10px);
    -moz-transform: rotate(60deg) translate(0, -10px);
    transform: rotate(60deg) translate(0, -10px); 
  
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
    animation-delay:0.65s;
  } 
  
  .loading.bar div:nth-child(4){
    -webkit-transform: rotate(90deg) translate(0, -10px);
    -moz-transform: rotate(90deg) translate(0, -10px);
    transform: rotate(90deg) translate(0, -10px); 
  
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
    animation-delay:0.78s;
  } 
  
  .loading.bar div:nth-child(5){
    -webkit-transform: rotate(120deg) translate(0, -10px);
    -moz-transform: rotate(120deg) translate(0, -10px);
    transform: rotate(120deg) translate(0, -10px); 
  
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
    animation-delay:0.91s;
  } 
  
  .loading.bar div:nth-child(6){
    -webkit-transform: rotate(150deg) translate(0, -10px);
    -moz-transform: rotate(150deg) translate(0, -10px);
    transform: rotate(150deg) translate(0, -10px); 
  
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
    animation-delay:1.04s;
  } 
  
  .loading.bar div:nth-child(7){
    -webkit-transform: rotate(180deg) translate(0, -10px);
    -moz-transform: rotate(180deg) translate(0, -10px);
    transform: rotate(180deg) translate(0, -10px); 
  
    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
    animation-delay:1.17s;
  } 
  
  .loading.bar div:nth-child(8){
    -webkit-transform: rotate(210deg) translate(0, -10px);
    -moz-transform: rotate(210deg) translate(0, -10px);
    transform: rotate(210deg) translate(0, -10px); 
  
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    animation-delay:1.3s;
  }
  
  .loading.bar div:nth-child(9){
    -webkit-transform: rotate(240deg) translate(0, -10px);
    -moz-transform: rotate(240deg) translate(0, -10px);
    transform: rotate(240deg) translate(0, -10px); 
  
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    animation-delay:1.43s;
  }
  
  .loading.bar div:nth-child(10){
    -webkit-transform: rotate(270deg) translate(0, -10px);
    -moz-transform: rotate(270deg) translate(0, -10px);
    transform: rotate(270deg) translate(0, -10px); 
  
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    animation-delay:1.56s;
  }
  
  .loading.bar div:nth-child(11){
    -webkit-transform: rotate(300deg) translate(0, -10px);
    -moz-transform: rotate(300deg) translate(0, -10px);
    transform: rotate(300deg) translate(0, -10px); 
  
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    animation-delay:1.69s;
  }
  
  .loading.bar div:nth-child(12){
    -webkit-transform: rotate(330deg) translate(0, -10px);
    -moz-transform: rotate(330deg) translate(0, -10px);
    transform: rotate(330deg) translate(0, -10px); 
  
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    animation-delay:1.82s;
  }
  
  @-webkit-keyframes fadeit{
    0%{
         opacity:1;
    }
    100%{
         opacity:0;
    }
  }
  @-moz-keyframes fadeit{
    0%{
         opacity:1;
    }
    100%{
         opacity:0;
    }
  }
  @keyframes fadeit{
    0%{
         opacity:1;
    }
    100%{
         opacity:0;
    }
  }
}