.Details-container {
  width: 100%;
  .Section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
  }
  .Section-item {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;

    .Section-item-title {
      color: #828282;
    }

    .Section-item-value {
      text-align: right;
      color: #333333;
    }
  }
}