.Details-container {
    display: flex;
    height: 95vh;
    width: 100%;
    float: left;
    // background-color: green;
  .General-information {
    height: 100vh;
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;
  }
  .Eye-color {
    display: flex;
    width:100px;
    background:#ddd;
    padding:10px;

    .Eye-color-title {
      width: 50%;
      float: left;
    }

    .Eye-color-value {
      width: 50%;
      float: right;
    }
  }

  .Hair-color {
    width:150px;
    background:#ddd;
    padding:10px;
  }

  .Skin-color {
    width:150px;
    background:#ddd;
    padding:10px;
  }

  .Birth-year { 
    width:150px;
    background:#ddd;
    padding:10px;
  }
}