@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
  font-family:  'Inter', sans-serif;
}

.App-header {
  background-color:#121212;
  padding: 15px;
  text-align: left;
  color: white;
}

.App-main-body {
  display: flex;
  .App-left-menu {
     height: 100vh;
     width: 50%;
     float: left;
  }

  .App-left-divider {
    height: 100vh;
    width: 1px;
  }
}