/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: black;
  /* font-family: 'Balsamiq Sans', cursive; */
  padding: 15px;
  text-align: left;
  /* font-size: large; */
  /* margin-left: -10px; */
  /* margin-right: -600px;
  margin-top: -10px; */
  color: white;
}

.App-left-menu-bar {
  border-left: 1px solid gray;
  margin-left: 380px;
  margin-top: -225px;
  height: 500px;
}