@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
  font-family:  'Inter', sans-serif;
}

.App-header {
  background-color:#121212;
  padding: 15px;
  padding-left: 45px;
  font-size: 20px;
  text-align: left;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.App-main-body {
  display: flex;
  padding-top: 50px;
  .App-left-menu {
     height: 100vh;
     width: 50%;
     float: left;
  }

  .App-left-divider {
    height: 610vh;
    width: 1px;
  }
}